<h1>These are all the posts</h1>
<ul>
<% @posts.each do |post| %>
  <li>
    <%= link_to post.user.name, user_path(post.user) %>: <%= post.content %> <%= link_to "see more", post_path(post) %>

  </li>
<% end %>
</ul>
